@font-face {
    font-family: poppins;
    src: url('/font/Poppins-regular.ttf');
}

@font-face {
    font-family: poppins-bold;
    src: url('/font/Poppins-Bold.ttf');
}

* {
    /* outline: 1px solid red; */
    font-family: poppins;
}

body {
    overflow: hidden;
}



.deco-bg {
    /* background: url('/image/deco-bg.jpg'); */
    background: linear-gradient(0deg, rgba(23, 71, 128, 0.6), rgba(23, 71, 128, 0.6)), url('/image/deco-bg.jpg'); 
    background-position: center;
    background-size: cover;
    color: white;

}
/* Rectangle 3463267 */

/* position: absolute;
width: 1912px;
height: 689.24px;
left: 0px;
top: 0px;

background: linear-gradient(0deg, rgba(23, 71, 128, 0.6), rgba(23, 71, 128, 0.6)), url(Screenshot 2023-11-09 183544.png); */


/* font-family: poppins-bold; */

.hr1 {
    border: 2px solid white;
    opacity: 100%;
}

.hr2 {
    border: 2px solid black;
    opacity: 100%;

}

.hit-border {
    position: relative;
    left: -5px;
    top: -2px;
    
}

.hit-border-bottom {
    position: relative;
    bottom: -4px;
    
}

.button-hover {
    width: 10%;
    background: #2252AB;
    transition: 0.3s ease;
}

.button-hover:hover {
    width: 12%;
    background-color: black;
}

.search-button {
    background: #2252AB;
    transition: 0.3s ease;
    color: white;
}

.search-button:hover {
    background-color: black;
}

.button-hover-signup {
    height: 50px; 
    background: #2252AB;
    transition: 0.3s ease;
}

.button-hover-signup:hover {
    height: 50px; 
    background: black;
}

.eye-hover {
    background-color: #2252AB;
    outline: 2px solid #2252AB;
    transition: 0.3s ease;
}

.eye-hover:hover {
    background-color: black;
    outline: 2px solid black;

}

.top-section {
    border: 3px solid #2252AB;
    border-left: 8px solid #2252AB;
}

.plus-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    height: 60px;
    width: 60px;
    
}

/* .article-property {
    overflow-y: scroll;
    height: 100%;
} */


/* === Formula === */
/* .article-property {
    padding: 1%;
    overflow-y: auto; 
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
} */

.article-property {
    padding: 0.5%;
    padding-bottom: 5%;
    overflow-y: auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    height: 75vh;
}


.box {
    height: 35vh;
    border-radius: 12px;
    
}


.article-image {
    border-bottom: 5px solid #2252AB;
}

.addedit-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr;
    height: 10vh;
    gap: 20px 30px;
    
}


.img-preview, .img-thumbnails {
    background-repeat: no-repeat;
}